.menu                     { background-color: #2B2B2B; border: 0; border-bottom: 3px solid #813281; display: flex; align-items: center; }
.menu .navbar             { width: 100%; }
.menu .navbar .container  { margin: 0px; max-width: none; }
.menu a                   { align-items: center; color: #FFF; display: flex; font-size: 0.8rem; text-decoration: none; text-transform: uppercase; }
.menu a:active,
.menu a:hover             { color: #CCC!important; } 
.menu .logo               { max-height: 32px; }

.nav-link.active          { border-bottom: solid 2px #FFF !important; }

@media (max-width: 450px)
{
    .nav-link.active      { width: 20%; }
}