<header class="menu">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/dashboard']">
                <img src="assets/imagens/logo.png" alt="logo" class="logo" />
            </a>
            <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngbCollapse]="isCollapsed">

                <app-menu-login></app-menu-login>
                
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item" *ngIf="usuario_logado && !usuario_is_admin">
                        <a class="nav-link" [routerLink]="['/cliente/dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
                    </li>
                    <li class="nav-item" *ngIf="usuario_logado && !usuario_is_admin">
                        <a class="nav-link" [routerLink]="['/cliente/simulador']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Simulador</a>
                    </li>
                    <li class=" nav-item" *ngIf="usuario_is_admin">
                        <a class="nav-link" [routerLink]="['/admin/usuario']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">Usuários</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>