<ul [ngSwitch]="usuarioLogado()" class="navbar-nav menu-login">
    <li *ngSwitchCase="false" class="nav-item" style="padding-right: 30px;">
        <a class="nav-link" [routerLink]="['/login']">
            Entrar <span class="fa fa-sign-in"></span></a>
    </li>

    <li *ngSwitchCase="true" class="nav-item">
        <a class="nav-link" id="saudacaoUsuario" href="javascript:void(0)">Olá {{ primeiro_nome }}</a>
    </li>
    <li *ngSwitchCase="true" class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="logout()">
            Sair <span class="fa fa-sign-out"></span></a>
    </li>
</ul>