<!-- Features Start -->


<section id="about-us" class="section feather-bg-img">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <p class="font-weight-medium text-uppercase mb-2"><i
            class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i>SOBRE NÓS</p>
        <h3 class="font-weight-semibold line-height-1_4 mb-4">Saiba <b>o melhor</b> sobre nossa empresa.</h3>
        <!-- <h3 class="font-weight-semibold line-height-1_4 mb-4">Build <b>community</b> & <b>conversion</b> with our suite of <b>social tool</b></h3> -->
        <p class="text-muted font-size-15 mb-4">Sed eu quam auctor, ornare magna et, feugiat ante. Cras pretium magna
          quis quam faucibus dapibus. Mauris elit eros, scelerisque at ullamcorper non, pharetra id lorem.</p>
        <p class="text-muted mb-2">
          <i-feather class="icon-xs mr-1" name="server"></i-feather> Nulla sit amet volutpat dolor, nec scelerisque
          turpis.
          nec.
        </p>
        <p class="text-muted">
          <i-feather class="icon-xs mr-1" name="rss"></i-feather> Nulla sit amet volutpat dolor, nec scelerisque turpis.
          fringilla.
        </p>
      </div>
      <div class="col-lg-6 offset-lg-1">
        <div class="mt-4 mt-lg-0">
          <img src="assets/images/features-img-1.png" alt="" class="img-fluid d-block mx-auto image-grayscale">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light feather-bg-img" id="features">
  <div class="section degrade-purple">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="text-center mb-5">
            <h3 class="text-light title mb-3">Excelência em serviços</h3>
            <p class="text-light font-size-15">Ut placerat ligula magna, ac posuere magna placerat id. Praesent et nunc
              justo. Proin tellus augue, ullamcorper eget lacinia in, rutrum eu nunc. Ut vel placerat mi. Nullam sit amet
              consequat elit, nec facilisis tellus. Vestibulum mattis id libero vitae ultrices. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="mb-4 mb-lg-0">
          <img src="assets/images/features-img.png" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>

      <div class="col-lg-5 offset-lg-1">
        <p class="font-weight-medium text-uppercase mb-2"><i
            class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i>SOLUÇOES SINGULARES</p>
        <h3 class="font-weight-semibold line-height-1_4 mb-4">As <b>melhores</b> soluções para <b>você</b></h3>
        <p class="text-muted font-size-15 mb-4">Nam cursus ipsum justo, sed molestie massa eleifend sit amet. Sed a eros
          vulputate, viverra ipsum in, pharetra nunc. Aliquam gravida, mauris non rutrum imperdiet, lectus lorem
          malesuada neque, a vehicula lacus est eu eros.</p>
        <p class="text-muted mb-2">
          <i-feather class="icon-xs mr-1" name="layout"></i-feather> Maecenas lobortis hendrerit condimentum.
        </p>
        <p class="text-muted">
          <i-feather class="icon-xs mr-1" name="life-buoy"></i-feather>Maecenas lobortis hendrerit condimentum.
        </p>
      </div>
    </div>
    </div>
</section>
<!-- Features End -->
