<!-- Footer Start -->
<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mb-5">
          <img src="assets/images/logo-light.png" alt="" class="" height="48">
          <!-- <p class="text-white-50 my-4 font-size-15">Ut placerat ligula magna, ac posuere magna placerat id. Praesent et
            nunc justo. Proin tellus augue, ullamcorper eget lacinia in, rutrum eu nunc. Ut vel placerat mi. Nullam sit
            amet consequat elit, nec facilisis tellus.</p>
          <ul class="list-inline footer-social-icon-content">
            <li class="list-inline-item mr-4"><a href="javascript: void(0);" class="footer-social-icon">
                <i-feather name="facebook"></i-feather>
              </a></li>
            <li class="list-inline-item mr-4"><a href="javascript: void(0);" class="footer-social-icon">
                <i-feather name="instagram"></i-feather>
              </a></li>
          </ul> -->
        </div>
      </div>
      <div class="col-lg-7 offset-lg-1">
        <div class="row">


        </div>
      </div>
    </div>
  </div>
</section>
<div class="footer-alt py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <p class="text-white-50 font-size-15 mb-0">{{year}} © MM Investimentos</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->
