<div class="lista-usuarios" ngxUiLoaderBlurred [loaderId]="'loader-principal'">

    <div class="panel panel-default">
        <div class="panel-heading">
            Lista de Usuários
            <button class="btn btn-sm btn-primary pull-right"><i class="fa fa-plus"></i>Novo Usuário</button>
        </div>
        <div class="panel-body">
            <perfect-scrollbar>
                <div class="flex-table" role="table" aria-label="Usuários">
                    <div class="flex-header header" role="rowgroup">
                        <div class="flex-cell first" role="columnheader">Nome</div>
                        <div class="flex-cell" role="columnheader">E-mail</div>
                        <div class="flex-cell" role="columnheader">CPF</div>
                        <div class="flex-cell" role="columnheader"></div>
                    </div>
                    <div class="flex-row row" role="rowgroup" *ngFor="let usuario of usuarios | paginate: { itemsPerPage: 10, currentPage: paginaAtual }">
                        <div class="flex-cell first" role="cell">{{ usuario.nome }}</div>
                        <div class="flex-cell" role="cell">{{ usuario.email }}</div>
                        <div class="flex-cell" role="cell">{{ usuario.cpf }}</div>
                        <div class="flex-cell" role="cell"><i class="fa fa-pencil" (click)="goToEditar(usuario.id)"></i></div>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
        <div class="panel-footer text-center">
            <pagination-controls (pageChange)="paginaAtual = $event"
                previousLabel="Anterior"
                nextLabel="Próximo"
            ></pagination-controls>
        </div>
    </div>

</div>
<ngx-ui-loader [loaderId]="'loader-principal'" [hasProgressBar]="true"></ngx-ui-loader>